<div class="container">
  <section id="header1">
    <div class="container-fluid">
       <div class="row text-center">
        <h1 class="text-primary">
           <i class="fa fa-search"></i> Find a doctor
        </h1>
        <form action="/doctors/search" method="GET" class="pure-form" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 10px;text-align:center">
            <div class="form-group text-center">
                <label for="email"><h4>Doctor Name, Speciality, Location</h4></label>
                <input type="text" autofocus class="form-control" name="q" id="findDoctor" placeholder="find a doctor" title="search for doctor" style="outline:0;width:60%;margin:auto">
            </div>
        </form>
    </div>
    </div>
  </section>
</div>

<section id="meet-doctors-wide" class="grey-bg">

    <div class="container">
        <h2>Result for search</h2>
        <div class="row">
            {{#if doctors}}
            {{#each doctors}}
            <div class="col-md-4">
                <div class="doctor-box">
                <img src="/uploads/users/{{image}}" alt="">
                <div class="doctor-box-content">
                    <a href="/doctors/profile/{{id}}">
                        <h3>Dr. {{username}}</h3>
                        <p>{{speciality}}</p>
                    </a>
                    <p class="doctor-box-info" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{description}}</p><br>
                    <div class="doctor-social">
                        {{#if twitter}}<a target="_blank" href="https://twitter.com/{{twitter}}"><i class="fab fa-twitter"></i></a>{{/if}}
                        {{#if skype}}<a href=""><i title="{{skype}}" class="fab fa-skype"></i></a>{{/if}}
                        {{#if facebook}} <a target="_blank" href="https://facebook.com/{{facebook}}"><i class="fab fa-facebook"></i></a> {{/if}}
                        {{#if linkedin}}<a target="_blank" href="https://www.linkedin.com/in/{{linkedin}}"><i class="fab fa-skype"></i></a>{{/if}}
                        {{#if instagram}}<a target="_blank" href="https://www.instagram.com/{{instagram}}"><i class="fab fa-skype"></i></a> {{/if}}                       
                    </div>
                </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="col-md-12 text-center">
                <h3>Result not found</h3>
              </div>
            {{/if}}
        </div>
</section>