<div class="container">
  <section id="header1">
    <div class="container-fluid">
       <div class="row text-center">
        <h1 class="text-primary">
          Medical Prescriptions
        </h1>
        <form class="pure-form" action="/prescriptions/search" method="GET" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 10px;text-align:center">
            <div class="form-group text-center">
                  <label for="email"><h4>Prescription Name, Category</h4></label>
                  <input type="text" autofocus class="form-control" name="q" id="findPrescription" placeholder="find a prescription" title="search for prescription" style="outline:0;width:60%;margin:auto">
              </div>
        </form>
    </div>
    </div>
  </section>
  <br><br>
  <div class="row">
    {{#each prescriptions}}  
    <div class="col-md-3">
        <div class="card card-prescription">
            <img src="/uploads/bg-precreption/{{image}}" class="img-responsive img-precreptions" alt="{{image}}">
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p class="o">Category : <b>{{category.category}}</b></p>
                <p class="card-text">{{description}}</p>
                <a href="/prescriptions/view/{{id}}" class="btn btn-primary">View</a>
                <span class="label label-primary">{{generateDate published 'DD/MM/YYYY hh:mm:ss'}}</span>
            </div>
        </div>
    </div>
    {{/each}}
  </div>
      <!-- Pagination -->
      <ul class="pagination">
        {{#paginate current=current pages=pages}}

        {{/paginate}}
      </ul>
</div>
