<div class="container">
    <div class="row">
  		<div class="col-sm-10"><h1>Settings Profile</h1></div>
    </div>
    <br>
    <div class="row">
  	    <div class="col-sm-3"><!--left col-->
          <div class="card">
           <div class="card-body">   
            <div class="text-center">
                <img src="/uploads/users/{{user.image}}" height="192" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>
                <form action="/settings/updateImage/{{user.id}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="image" required accept="image/*" class="text-center center-block file-upload">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div></hr><br>
          </div> 
         </div> 
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#basic">Basic Information</a></li>
                        <li><a data-toggle="tab" href="#social">Social Media</a></li>
                        <li><a data-toggle="tab" href="#changepassword">Change Password</a></li>
                        <li><a data-toggle="tab" href="#closeAccount">Close Account</a></li>
                    </ul>  
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="tab-content row"> 
                        <div class="tab-pane active" id="basic">
                            <h2 class="text-center">Basic Information</h2>
                            <hr>
                            <form class="form" action="/settings/basic/{{user.id}}" method="post">
                                <div class="form-group">                         
                                    <div class="col-xs-6">
                                        <label for="username"><h4>username</h4></label>
                                        <input readonly value="{{user.username}}" type="text" class="form-control" name="username" id="username" placeholder="username" title="enter your username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="email"><h4>Email</h4></label>
                                        <input readonly type="email" value="{{user.email}}" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                    </div>
                                </div>               
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="phone"><h4>Phone</h4></label>
                                        <input type="text" class="form-control" value="{{user.phone}}" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="status"><h4>Status</h4></label>
                                        <input type="text" readonly class="form-control" value="{{user.status}}" name="status" id="status" placeholder="status" title="User {{user.status}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="country"><h4>Country</h4></label>
                                        <input type="text" class="form-control" name="country" value="{{user.country}}" id="country" placeholder="somewhere" title="enter your country if any.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="description"><h4>Description</h4></label>
                                        <textarea class="form-control" placeholder="Description" name="description" id="description" >{{user.description}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                            <br>
                                            <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-check-circle"></i> Save</button>
                                            <button class="btn btn-lg" type="reset"><i class="fa fa-redo"></i> Reset</button>
                                        </div>
                                </div>
                            </form>
                            <hr>
                    
                        </div><!--/tab-pane-->
                        <div class="tab-pane" id="social">
                            <h2 class="text-center">Social Media</h2>
                            <hr>
                            <form class="form" action="/settings/links/{{user.id}}" method="post">
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">https://twitter.com</span>
                                        <input type="text" value="{{user.twitter}}" name="twitter" class="form-control" placeholder="Twitter Profile">
                                    </div>
                                    <br>
                                </div>
                                
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">https://www.facebook.com/</span>
                                        <input type="text" value="{{user.facebook}}" name="facebook" class="form-control" placeholder="Facebook Profile">
                                    </div>
                                    <br>
                                </div>
                                
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">https://www.linkedin.com/in/</span>
                                        <input type="text" value="{{user.linkedin}}" name="linkedin" class="form-control" placeholder="LinkedIn Profile">
                                    </div>
                                    <br>
                                </div>

                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">https://www.instagram.com/</span>
                                        <input type="text" value="{{user.instagram}}" name="instagram" class="form-control" placeholder="Instagram Profile">
                                    </div>
                                    <br>
                                </div>
        
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-check-circle"></i> Save</button>
                                        <button class="btn btn-lg" type="reset"><i class="fa fa-redo"></i> Reset</button>                            
                                    </div>
                                </div>
                            </form>
                        
                        </div><!--/tab-pane-->
                        <div class="tab-pane" id="changepassword">  	
                            <h2 class="text-center">Change Password</h2>
                            <hr>
                            <form class="form" action="/settings/changePassword/{{user.id}}" method="post">
                                <div class="form-group"> 
                                    <div class="col-md-8 col-xs-6">
                                        <label for="oldpassword"><h4>Old Password</h4></label>
                                        <input type="password" class="form-control" name="oldpassword" id="oldpassword" placeholder="old password" title="enter your old password.">
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <div class="col-md-8 col-xs-6">
                                        <label for="newpassword"><h4>New Password</h4></label>
                                        <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="new password" title="enter your new password.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-xs-6">
                                        <label for="verifypassword"><h4>Verify</h4></label>
                                        <input type="password" class="form-control" name="verifypassword" id="verifypassword" placeholder="verify password" title="enter verify password.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success pull-left" type="submit"><i class="fa fa-check-circle"></i> Save</button>
                                            <button class="btn btn-lg" type="reset"><i class="fa fa-redo"></i> Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>  
                        <div class="tab-pane" id="closeAccount">
                            <h2 class="text-center">Close Account</h2>
                            <hr>
                            <div class="panel panel-danger">
                                <div class="panel-body text-center">
                                    <p>Close Your Account</p>
                                    <button class="btn btn-danger btn-lg"  data-izimodal-open="#modal-closeAccount">Close Account</button>
                                </div>
                            </div>
                        </div><!--/tab-pane-->
                    </div>
                </div>    
            </div>    
        </div>
    </div>                                       
</div>